body{
	margin: 15px;
}

h3{
   font-family: Brush Script MT;
   font-size: 45px;
   text-align: center;
}

h4{
   font-family: Ink Free;
   font-weight: bold;
   font-size: 29px;
   text-align: center;
}

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    width: 100%;
    padding-left: auto;
    margin-right: auto;
    margin-left: auto;
}

.img-fluid {
    max-width: 130%;
    height: fit-content;
	margin-top: -33px;
}
